.typeheader-3 #sosearchpro .search button{
    border-right: 1px solid #ccc;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}

.typeheader-3 #sosearchpro .search input{
    border-right: 1px solid #ccc;
  /*  border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;*/

}
.typeheader-3 #sosearchpro .search input{
    border-left: 1px solid #ccc;
}



.nav_float{
    float:right;
}
.icon-share{float: left;}
ul.size li {
    text-align: center;
}
ul.size{
    text-align: left;
}