.so-listing-tabs {
	
	padding: 0;
	overflow: hidden;
}

.so-listing-tabs .ltabs-wrap {
	overflow: hidden;
}

.so-listing-tabs .intro_text,
.so-listing-tabs .footer_text {
	margin: 10px 0px;
}

/*-----------------------Css for Tabs ----------------------------*/

.so-listing-tabs .ltabs-wrap .ltabs-tabs-container {
	text-align: center;
	padding: 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}

.so-listing-tabs .ltabs-tabs-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs {
	display: inline-block;

}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
	/* border: 1px solid #e9e9e9; */
	float: left;
	padding: 8px;
	cursor: pointer;
	margin:  10px ;
	font-size: 12px;
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-all:hover .cat-all{
	margin-top:-48px;
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs .ltabs-tab:hover {
	/* background-color:#0088cc; */
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs .ltabs-tab:hover span {
	color:#2677e7;
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-all .cat-all {
	margin-top:0px;
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-sel .cat-all {
	margin-top:-48px;
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel{
	/* color:#0088cc */
}

.so-listing-tabs .ltabs-tab-img {
	float: left;
	height: 30px;
	margin-right: 10px;
	overflow: hidden;
}
.so-listing-tabs .hits {
	float:left;
	border-top:1px solid #e9e9e9;
	padding: 2% 0 2% 0;
	border-bottom:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	color:#909090;
	width:40%;
}
.so-listing-tabs .other-infor {
	margin-top:15px;
}
.so-listing-tabs .author {
	float:left;
	overflow:hidden;
	border-top:1px solid #e9e9e9;
	width:53%;
	padding:2% 0 2% 3%;
	color: #909090;
	border-bottom:1px solid #e9e9e9;
}
.so-listing-tabs .author-text {
	color:#0088cc;
}
.so-listing-tabs .item-title {
	text-transform :uppercase;
	margin-bottom:5px;
}
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab  > span {
	margin: 0;
	padding: 0 10px 0 5px;
	cursor: pointer;
	color:#222;
	font-weight: 500;
	font-size:16px;
	line-height:30px;
	vertical-align:middle;
}

.so-listing-tabs .created-date {
	margin-bottom:10px;
	color:#909090;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel  > span {
	color: #2677e7;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap span.ltabs-tab-arrow,
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap span.ltabs-tab-selected {
	display: none;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
	position: relative;
	display: inline-block;
	cursor: default;
	text-align: left;
	line-height: 30px;
	clear: both;
	color: #888;
	cursor: pointer;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
	width: 167px;
	text-indent: 20px;
	border: 1px solid #DDD;
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #FFF;
	overflow: hidden;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow {
	width: 30px;
	border: 1px solid #ddd;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	text-align: center;
	font-size: 12px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #DDD;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow,
.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
	position: relative;
	float: left;
	height: 30px;
	z-index: 1;
	display: inline-block;
}

.so-listing-tabs .add-loadmore {
	float: right;
	margin-left: 10px;
	vertical: middle;
	margin-top:2px;
}
.so-listing-tabs .loaded .add-loadmore {
	display:none;
}
div.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs {
	position: absolute;
	top: 28px;
	left: 0;
	width: 100%;
	margin:0 !important;
	border: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
	background: #fff;
	display: none;
	z-index: 65;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open {
	display: block;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs li {
	margin: 0;
	padding: 0;
	float: none;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tab span {
	display: block;
	padding: 5px 10%;
}

.so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tab span:hover {
	color: #f6f6f6;
}

/*-----------------------------Css for Content----------------------*/

.so-listing-tabs .ltabs-wrap .ltabs-items-container {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.so-listing-tabs .ltabs-items-container .ltabs-items {
	visibility: hidden;
    height: 0px;
    overflow:hidden;
	display:none;
}

.so-listing-tabs .ltabs-items-container .ltabs-items-inner {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.so-listing-tabs .ltabs-items-container .ltabs-items-selected {
	visibility: visible;
    height: auto;
    overflow: visible;
	display:block;
}

.so-listing-tabs .ltabs-items-container .ltabs-item-wrap {
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: #000 0em 0em 0em;
}

.so-listing-tabs .ltabs-items-container .ltabs-item-wrap img {
	width: 100%;
	max-width: 100%;
	box-shadow: #000 0em 0em 0em;
}

.so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item {
	float: left;
	margin-bottom: 20px;
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: #000 0em 0em 0em;
}

.so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-slider .ltabs-item {
	margin-bottom: 20px;
	opacity: 1;
	filter: alpha(opacity=1);
	box-shadow: #000 0em 0em 0em;
	width:100%;
}

.so-listing-tabs  .ltabs-items-container .ltabs-items .ltabs-item .item-inner {
	margin: 0 10px 20px 10px ;
}

.so-listing-tabs  .ltabs-items-container .ltabs-items .ltabs-item .item-inner .item-image {
	border : 1px solid #e9e9e9;
	margin-bottom:10px;
}

.so-listing-tabs  .ltabs-items-container .ltabs-items .ltabs-item .item-inner .lt-image img{
	margin-left:auto;
	margin-right:auto;
	display:block;
	max-height:100%;
	max-width:100%;
}

.so-listing-tabs .ltabs-items  .ltabs-loading {
	width: 100%;
	max-width: 100%;
	padding: 0;
	position: relative;
	background: url(../../image/theme/lazy-loader.gif) no-repeat scroll center center transparent;
	min-height: 300px;
	display: block;
	z-index: 0;
}

.so-listing-tabs  .ltabs-items-container .ltabs-loadmore {
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}

.so-listing-tabs .ltabs-items   .ltabs-loadmore .ltabs-loadmore-btn {
	padding: 8px 12px;
	display: inline-block;
	background-color: #0088cc;
	color: #FFF;
	cursor: pointer;
}

.so-listing-tabs .ltabs-items   .ltabs-loadmore .ltabs-loadmore-btn .ltabs-image-loading {
	background: url('../../image/theme/lazy-loader.gif') no-repeat scroll center center transparent;
	width: 22px;
	height: 22px;
	display: none;
	margin-right: 10px;
	vertical-align: middle;
}

.so-listing-tabs .ltabs-items   .ltabs-loadmore .ltabs-loadmore-btn:after {
	content: attr(data-label);
}

.so-listing-tabs .ltabs-items.ltabs-process   .ltabs-loadmore {
	display: none;
}

/*-----------------------------Css for Responsive ----------------------*/

@media all and (max-width: 767px) {
	.so-listing-tabs .ltabs-item .hits
	{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}
	.ltabs-tabs-container .ltabs-tabs li {
		border-top:none !important;
		border-left:none !important;
		border-right:none !important;
	}
	.so-listing-tabs .ltabs-item .author{
		width: 100%;
		padding-left:0;
	}
	.so-listing-tabs .ltabs-tab-img {
		display:none;
	}
	.so-listing-tabs .ltabs04-6 .ltabs-item {
		width: 16.64%;
	}

	.so-listing-tabs .ltabs04-5 .ltabs-item {
		width: 19.958%;
	}

	.so-listing-tabs .ltabs04-4 .ltabs-item {
		width: 24.995%;
	}

	.so-listing-tabs .ltabs04-3 .ltabs-item {
		width: 33.315%;
	}

	.so-listing-tabs .ltabs04-2 .ltabs-item {
		width: 49.985%;
	}

	.so-listing-tabs .ltabs04-1 .ltabs-item {
		width: 100%;
	}

	.so-listing-tabs .ltabs04-1 .clr1,
	.so-listing-tabs .ltabs04-2 .clr2,
	.so-listing-tabs .ltabs04-3 .clr3,
	.so-listing-tabs .ltabs04-4 .clr4,
	.so-listing-tabs .ltabs04-5 .clr5,
	.so-listing-tabs .ltabs04-6 .clr6 {
		clear: both;
	}
	.so-listing-tabs .ltabs01-3 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-4 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-5 .ltabs-item .hits
	,.so-listing-tabs .ltabs01-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}

	.so-listing-tabs .ltabs01-3 .ltabs-item .author,
	.so-listing-tabs .ltabs01-4 .ltabs-item .author,
	.so-listing-tabs .ltabs01-5 .ltabs-item .author,
	.so-listing-tabs .ltabs01-6 .ltabs-item .author{
		width: 100%;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.so-listing-tabs .ltabs03-6 .ltabs-item {
		width: 16.64%;
	}

	.so-listing-tabs .ltabs03-5 .ltabs-item {
		width: 19.958%;
	}

	.so-listing-tabs .ltabs03-4 .ltabs-item {
		width: 24.995%;
	}
	.so-listing-tabs .ltabs02-5 .ltabs-item .author{
		width:100%
	}
	.so-listing-tabs .ltabs02-5 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}
	.so-listing-tabs .ltabs02-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}

	.so-listing-tabs .ltabs03-3 .ltabs-item {
		width: 33.295%;
	}

	.so-listing-tabs .ltabs03-2 .ltabs-item {
		width: 49.999%;
	}

	.so-listing-tabs .ltabs03-1 .ltabs-item {
		width: 100%;
	}

	.so-listing-tabs .ltabs03-1 .clr1,
	.so-listing-tabs .ltabs03-2 .clr2,
	.so-listing-tabs .ltabs03-3 .clr3,
	.so-listing-tabs .ltabs03-4 .clr4,
	.so-listing-tabs .ltabs03-5 .clr5,
	.so-listing-tabs .ltabs03-6 .clr6 {
		clear: both;
	}
	.so-listing-tabs .ltabs01-3 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-4 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-5 .ltabs-item .hits
	,.so-listing-tabs .ltabs01-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}

	.so-listing-tabs .ltabs01-3 .ltabs-item .author,
	.so-listing-tabs .ltabs01-4 .ltabs-item .author,
	.so-listing-tabs .ltabs01-5 .ltabs-item .author,
	.so-listing-tabs .ltabs01-6 .ltabs-item .author{
		width: 100%;
	}
}

@media all and (min-width: 768px) and (max-width: 1199px) {
	.so-listing-tabs .ltabs01-3 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-4 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-5 .ltabs-item .hits
	,.so-listing-tabs .ltabs01-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}

	.so-listing-tabs .ltabs01-3 .ltabs-item .author,
	.so-listing-tabs .ltabs01-4 .ltabs-item .author,
	.so-listing-tabs .ltabs01-5 .ltabs-item .author,
	.so-listing-tabs .ltabs01-6 .ltabs-item .author{
		width: 100%;
		padding-left:0;
	}
	.so-listing-tabs .ltabs02-6 .ltabs-item {
		width: 16.64%;
	}

	.so-listing-tabs .ltabs02-5 .ltabs-item {
		width: 19.958%;
	}

	.so-listing-tabs .ltabs02-4 .ltabs-item {
		width: 24.995%;
	}

	.so-listing-tabs .ltabs02-3 .ltabs-item {
		width: 33.315%;
	}

	.so-listing-tabs .ltabs02-2 .ltabs-item {
		width: 49.999%;
	}

	.so-listing-tabs .ltabs02-1 .ltabs-item {
		width: 100%;
	}
	.so-listing-tabs .ltabs02-4 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}
	.so-listing-tabs .ltabs02-4 .ltabs-item .author,
	.so-listing-tabs .ltabs02-5 .ltabs-item .author,
	.so-listing-tabs .ltabs02-6 .ltabs-item .author{
		width: 100%;
		padding-left:0;
	}
	.so-listing-tabs .ltabs02-5 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}
	.so-listing-tabs .ltabs02-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}
	.so-listing-tabs .ltabs02-1 .clr1,
	.so-listing-tabs .ltabs02-2 .clr2,
	.so-listing-tabs .ltabs02-3 .clr3,
	.so-listing-tabs .ltabs02-4 .clr4,
	.so-listing-tabs .ltabs02-5 .clr5,
	.so-listing-tabs .ltabs02-6 .clr6 {
		clear: both;
	}
}

@media all and (min-width: 1200px ) and (max-width: 1599px) {
	.so-listing-tabs .ltabs01-6 .ltabs-item {
		width: 16.64%;
	}
	.so-listing-tabs .ltabs01-5 .ltabs-item {
		width: 20%;
	}
	.so-listing-tabs .ltabs01-4 .ltabs-item {
		width: 25%;
	}
	.so-listing-tabs .ltabs01-3 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-4 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-5 .ltabs-item .hits
	,.so-listing-tabs .ltabs01-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}

	.so-listing-tabs .ltabs01-3 .ltabs-item .author,
	.so-listing-tabs .ltabs01-4 .ltabs-item .author,
	.so-listing-tabs .ltabs01-5 .ltabs-item .author,
	.so-listing-tabs .ltabs01-6 .ltabs-item .author{
		width: 100%;
		padding-left:0;
	}
	.so-listing-tabs .ltabs01-3 .ltabs-item {
		width: 33.315%;
	}

	.so-listing-tabs .ltabs01-2 .ltabs-item {
		width: 49.999%;
	}

	.so-listing-tabs .ltabs01-1 .ltabs-item {
		width: 100%;
	}

	.so-listing-tabs .ltabs01-1 .clr1,
	.so-listing-tabs .ltabs01-2 .clr2,
	.so-listing-tabs .ltabs01-3 .clr3,
	.so-listing-tabs .ltabs01-4 .clr4,
	.so-listing-tabs .ltabs01-5 .clr5,
	.so-listing-tabs .ltabs01-6 .clr6 {
		clear: both;
	}
}

@media all and (min-width: 1600px ) {
	.so-listing-tabs .ltabs01-3 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-4 .ltabs-item .hits,
	.so-listing-tabs .ltabs01-5 .ltabs-item .hits
	,.so-listing-tabs .ltabs01-6 .ltabs-item .hits{
		width: 100%;
		border-bottom:none;
		border-right:none;
	}

	.so-listing-tabs .ltabs01-3 .ltabs-item .author,
	.so-listing-tabs .ltabs01-4 .ltabs-item .author,
	.so-listing-tabs .ltabs01-5 .ltabs-item .author,
	.so-listing-tabs .ltabs01-6 .ltabs-item .author{
		width: 100%;
		padding-left:0;
	}
	.so-listing-tabs .ltabs00-6 .ltabs-item {
		width: 16.64%;
	}
	.so-listing-tabs .ltabs00-5 .ltabs-item {
		width: 20%;
	}

	.so-listing-tabs .ltabs00-4 .ltabs-item {
		width: 25%;
	}

	.so-listing-tabs .ltabs00-3 .ltabs-item {
		width: 33.315%;
	}

	.so-listing-tabs .ltabs00-2 .ltabs-item {
		width: 49.999%;
	}

	.so-listing-tabs .ltabs00-1 .ltabs-item {
		width: 100%;
	}

	.so-listing-tabs .ltabs00-1 .clr1,
	.so-listing-tabs .ltabs00-2 .clr2,
	.so-listing-tabs .ltabs00-3 .clr3,
	.so-listing-tabs .ltabs00-4 .clr4,
	.so-listing-tabs .ltabs00-5 .clr5,
	.so-listing-tabs .ltabs00-6 .clr6 {
		clear: both;
	}
}

/*-----------------------------Css for ie----------------------*/
.so-listing-tabs.lt-ie9 .ltabs01-6 .ltabs-item {
	width: 16.64%;
}

.so-listing-tabs.lt-ie9 .ltabs01-5 .ltabs-item {
	width: 20%;
}

.so-listing-tabs.lt-ie9 .ltabs01-4 .ltabs-item {
	width: 25%;
}

.so-listing-tabs.lt-ie9 .ltabs01-3 .ltabs-item {
	width: 33.315%;
}

.so-listing-tabs.lt-ie9 .ltabs01-2 .ltabs-item {
	width: 49.999%;
}

.so-listing-tabs.lt-ie9 .ltabs01-1 .ltabs-item {
	width: 100%;
}

.so-listing-tabs.lt-ie9 .ltabs01-1 .clr1,
.so-listing-tabs.lt-ie9 .ltabs01-2 .clr2,
.so-listing-tabs.lt-ie9 .ltabs01-3 .clr3,
.so-listing-tabs.lt-ie9 .ltabs01-4 .clr4,
.so-listing-tabs.lt-ie9 .ltabs01-5 .clr5,
.so-listing-tabs.lt-ie9 .ltabs01-6 .clr6 {
	clear: both;
}

/*-----------------------------ClearFix----------------------*/
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}


/* .so-listing-tabs .owl2-controls .owl2-nav .owl2-prev,
.so-listing-tabs .owl2-controls .owl2-nav .owl2-next {
    border: 1px solid #e9e9e9;
    color: #e9e9e9;
    float: left;
    height: 32px;
    line-height: 28px;
    text-align: center;
    width: 32px;
	background-color:#FFF;
	
	position:absolute;
	margin-top:-16px;
	top:50%;
}

.so-listing-tabs .owl2-controls .owl2-nav .owl2-prev:before,
.so-listing-tabs .owl2-controls .owl2-nav .owl2-next:before {
    font-family: FontAwesome;
    font-size: 28px;
}

.so-listing-tabs .owl2-controls .owl2-nav .owl2-prev:hover,
.so-listing-tabs .owl2-controls .owl2-nav .owl2-next:hover {
    cursor: pointer;
    border: 1px solid #cccccc;
    color: #fff;
}

.so-listing-tabs .owl2-controls .owl2-nav .owl2-next {
	right:0;
}

.so-listing-tabs .owl2-controls .owl2-nav .owl2-prev{
	left:0;
}

.so-listing-tabs .owl2-controls .owl2-nav .owl2-prev:before {
    content: "\f104";
}

.so-listing-tabs .owl2-controls .owl2-nav .owl2-next:before {
    content: "\f105";
}

.so-listing-tabs .new-ltabs-item {
	opacity:0!important;
	filter: alpha(opacity=0)!important;
} */

/* .so-listing-tabs .ltabs-items .ltabs-items-inner.play .ltabs-item{
	opacity:1;
	filter: alpha(opacity=1)!important;
}
 */