.btn-group{
    width:100%;
    display: block;
}
.tooltipx {
    position: relative;
    display: inline-block;
}
.tooltiptext {

    visibility: hidden;
    width: 50%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 4px;
    position: absolute;
    z-index: 6;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
    line-height: 1;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipx:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}