/*Rules*/
@import url('https://fonts.googleapis.com/css?family=Cairo&subset=arabic,latin-ext');

a, h1, h2, h3, h4, h5, h6, li, strong, p, div, section {
    font-family: "Cairo", serif !important;
}

.empty {
    padding: 10px;
    font-weight: 400;
    text-align: center;
    margin: 20px auto 0;
    color: #438eb9;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
}

/**** Tables ****/
.simple-table {
    margin-top: 20px;
}

.simple-table th, .simple-table td {
    text-align: center !important;
}

.custom-table {
    background-color: #FFF;
    margin-bottom: 0;
    background-color: #EDF3F4;
}

.timeline-item .widget-box {
    background-color: #FFF !important;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #DAE1E5;
}

.custom-table th {
    width: 20%;
    border-width: 0 1px 0 0 !important;
    border-color: #FFF !important;
    border-style: solid !important;
}

.custom-table td {
    text-align: center;
    border: none !important;
}

.custom-table tr {
    border-top: 1px solid #F7FBFF;
}

.profile-user-info-striped {
    margin: 20px 0 0 !important;
    width: 100%;
}

.profile-info-name {
    text-transform: capitalize;
}

/*.table-details{padding-left: 0;padding-right: 0;margin-top: 15px;}*/
.table-details .profile-info-name {
    text-align: left;
}

/* Images */
img, iframe {
    width: 100%;
}

.infobox {
    padding-top: 10px !important;
}

.infobox-data a, .infobox-data i {
    color: #e2dbdb
}

.infobox-data a:hover {
    text-decoration: none;
    color: #FFF
}

.infobox-data a:hover i {
    color: #FFF
}

.user-info {
    display: inline-block;
    padding-top: 7px;
    padding-left: 5px;
    font-size: 12px;
}

.control-icon a .edit {
    padding: 7px;
    color: #FFF;
    background-color: #2980b9 !important;
    margin: 2px;
}

.control-icon a .show {
    padding: 7px;
    color: #FFF;
    background-color: mediumseagreen !important;
    margin-bottom: 2px;
}

.control-icon a .approve {
    padding: 7px;
    color: #FFF;
    background-color: #2980b9 !important;
    margin-bottom: 2px;
    margin-right: 7px;
}

.control-icon a .reject {
    padding: 7px;
    color: #FFF;
    background-color: #c0392b !important;
    margin-right: 7px;
}

.control-icon a .delete {
    padding: 7px;
    color: #FFF;
    background-color: #c0392b !important;
}

.control-icon a i:hover {
    opacity: 0.5;
    cursor: pointer;
}

.btn-group-custom {
    display: inline-flex !important;
}

.btn-group-custom .edit, .show {
    margin-right: 5px !important;
}

.flag {
    width: 23px;
    height: 17px
}

.flash-msg {
    text-align: center;
    position: fixed;
    z-index: 10000;
    right: 40%;
    background-color: #2ecc71;
    color: #FFF;
    padding: 10px;
    top: 50px;
}

.flash-error {
    background-color: #e74c3c !important
}

#flash-msg {
    display: none;
}

.content-title a {
    width: 400px !important;
    text-align: center !important;
}

/* Nav-bar */
.navbar-brand {
    padding: 12px !important;
    /*   width: 100px;*/
    color: #FFF !important;
    height: 38px !important;
    margin-left: 5px;
}

.navbar-brand > img {
    width: 100%;
    height: 100%;
}

.nav .open > a, .nav a:hover, .nav .open > a:hover, .nav .open > a:focus {
    color: #333 !important
}

.modal-dialog form {
    display: inline;
}

.col-md-1 {
    text-align: right;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;

}

.flatpickr-month {
    height: 50px !important;
}

.flatpickr-current-month .numInputWrapper {
    width: 7ch !important;
}

.position-relative {
    position: relative;
}

.show-password {
    position: absolute;
    top: 13px;
    left: 20px;
    color: #AAA;
}

.show-password:hover {
    color: #333;
    cursor: pointer;
}

.location {
    padding: 20px;
}

#map {
    height: 400px;
    width: 100%;
}

.header {
    padding-top: 30px;
}

.login-form {
    margin-top: 10%;
    background-color:rgba(19, 19, 21, 0.42);
    padding: 15px;
}

.login-form h1 {
    margin-bottom: 30px;
}

.login-form input {
    margin-bottom: 10px;
}

#table tr {
    text-align: center;
}

td .btn {
    margin-left: 6px;
    padding: 0;
}

.logP {
    font-weight: 800;

}

.products-list {
    /*====================PRODUCT GRID ====================*/
    /*----------------PRODUCT Table ------------------*/
    /*----------------PRODUCT LIST ------------------*/
}

.products-list .product-layout {
    transition: all 0.5s ease 0s;
}

.products-list .product-layout .product-item-container .left-block {
    position: relative;
    overflow: hidden;
}

.products-list .product-layout .product-item-container .left-block .product-image-container {
    margin-bottom: 0;
    text-align: center;
}

.products-list .product-layout .product-item-container .left-block .product-image-container img {
    margin: 0 auto;
}

.products-list .product-layout .product-item-container:hover .countdown_box {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

.products-list .product-layout .product-item-container:hover .left-block .product-image-container.second_img .img_0 {
    top: 0;
    opacity: 1;
    z-index: 0;
}

.products-list .product-layout .product-item-container:hover .left-block .product-image-container a:before {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
}

.products-list.grid .product-layout .product-item-container {
    margin: 0 0 30px 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.products-list.grid .product-layout .product-item-container > .list-block, .products-list.grid .product-layout .product-item-container .description {
    display: none;
}

.products-list.grid .product-layout .product-item-container .left-block {
    position: relative;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group {
    padding: 0;
    position: absolute;
    z-index: 99;
    left: 10px;
    bottom: 15px;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button {
    border: none;
    display: block;
    margin-top: 5px;
    padding: 0;
    background-color: #666;
    border-radius: 3px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transform: all 0.3s ease 0s;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translate(-50px, 0px);
    -moz-transform: translate(-50px, 0px);
    -ms-transform: translate(-50px, 0px);
    -o-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px);
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button span {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    height: auto;
    opacity: 0;
    position: static;
    transition: all 0.3s ease 0s;
    width: auto;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button i, .products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button:before {
    font-size: 12px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button.addToCart {
    transition-delay: 0.1s;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button.addToCart i {
    left: 0px;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button.wishlist {
    margin-bottom: 0;
    transition-delay: 0.2s;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button.compare {
    margin-bottom: 0;
    transition-delay: 0.3s;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button.quickview {
    transition-delay: 0.4s;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button:hover {
    background-color: #2677e7;
    width: auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button:hover span {
    opacity: 1;
    padding: 0 10px 0 28px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group .btn-button:hover i {
    color: #fff;
}

.products-list.grid .product-layout .product-item-container .right-block {
    clear: both;
    padding: 12px 12px 20px 12px;
    text-align: center;
    position: relative;
    background-color: #f7f7f7;
}

.products-list.grid .product-layout .product-item-container .right-block .price {
    margin-bottom: 0;
}

.products-list.grid .product-layout .product-item-container .right-block h4 {
    margin: 3px 0;
    font-weight: 700;
}

.products-list.grid .product-layout .product-item-container .right-block h4 a {
    font-size: 14px;
    color: #222;
}

.products-list.grid .product-layout .product-item-container .right-block h4 a:hover {
    color: #2677e7;
}

.products-list.grid .product-layout .product-item-container .right-block .rating, .products-list.grid .product-layout .product-item-container .right-block .ratings {
    margin-bottom: 2;
}

.products-list.grid .product-layout .product-item-container .right-block .quickview {
    display: none !important;
}

.products-list.grid .product-layout .product-item-container:hover .left-block .button-group .btn-button {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .products-list .product-grid-4:nth-child(4n+1) {
        clear: both;
    }
}

.products-list .product-grid-5 {
    /*.countdown_box,.ratings{display: none;}
     .button-group{display: none;}*/
}

@media (min-width: 1200px) {
    .products-list .product-grid-5:nth-child(5n+1) {
        clear: both;
    }
}

.products-list .product-table:last-child .product-item-container {
    border-bottom: 1px solid #dbdbdb;
}

.products-list .product-table .product-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #dbdbdb;
}

.products-list .product-table .product-item-container > :last-child {
    border-left: 1px solid #dbdbdb;
}

.products-list .product-table .list-block {
    width: 20%;
    padding: 10px;
    text-align: center;
}

@media (max-width: 767px) {
    .products-list .product-table .list-block {
        display: none;
    }
}

.products-list .product-table .list-block .addToCart {
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 9px 20px;
    background: #555;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: #2677e7;
    border-color: #2677e7;
}

.products-list .product-table .list-block .addToCart:hover {
    background: #2677e7;
    border-color: #2677e7;
    color: #fff;
}

.products-list .product-table .list-block .addToCart:hover {
    background: #555;
    border-color: #555;
}

.products-list .product-table .list-block .wishlist, .products-list .product-table .list-block .compare {
    width: 48%;
    padding: 9px 20px;
    background: #eee;
    color: #333;
    border-radius: 3px;
    border: none;
}

.products-list .product-table .list-block .wishlist:hover, .products-list .product-table .list-block .compare:hover {
    background: #2677e7;
    border-color: #2677e7;
    color: #fff;
}

.products-list .product-table .left-block {
    width: 15%;
    min-width: 64px;
}

@media (max-width: 767px) {
    .products-list .product-table .left-block {
        width: 35%;
    }
}

.products-list .product-table .left-block .countdown_box, .products-list .product-table .left-block .button-group {
    display: none;
}

.products-list .product-table .right-block {
    width: 65%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.products-list .product-table .right-block > * {
    border-left: 1px solid #dbdbdb;
    margin: 0px;
    padding: 10px;
}

.products-list .product-table .right-block h4 {
    width: 25%;
}

@media (max-width: 767px) {
    .products-list .product-table .right-block h4 {
        width: 60%;
    }
}

.products-list .product-table .right-block .ratings {
    width: 20%;
    display: none;
}

.products-list .product-table .right-block .price {
    width: 25%;
}

@media (max-width: 767px) {
    .products-list .product-table .right-block .price {
        width: 40%;
    }
}

.products-list .product-table .right-block .description {
    width: 40%;
}

@media (max-width: 767px) {
    .products-list .product-table .right-block .description {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-list .product-table .right-block .description, .products-list .product-table .label-product {
        display: none;
    }

    .products-list .product-table .right-block h4 {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-list .product-table .right-block .description, .products-list .product-table .label-product {
        display: none;
    }

    .products-list .product-table .right-block h4 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .products-list .product-table .label-product {
        display: none;
    }
}

.products-list.list .product-layout {
    width: 100%;
}

.products-list.list .product-layout ul.so-productlist-colorswatch {
    text-align: left;
}

.products-list.list .product-layout .box-label {
    left: 5px;
}

.products-list.list .product-layout .product-item-container {
    display: table;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.products-list.list .product-layout .product-item-container .left-block {
    width: 270px;
    float: left;
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    .products-list.list .product-layout .product-item-container .left-block {
        width: 40%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-list.list .product-layout .product-item-container .left-block {
        width: 40%;
    }
}

.products-list.list .product-layout .product-item-container .left-block .product-image-container {
    text-align: center;
}

.products-list.list .product-layout .product-item-container .left-block .button-group button {
    display: none;
}

@media (max-width: 767px) {
    .products-list.list .product-layout .product-item-container .list-block {
        margin-left: 0;
        padding: 10px 0 0;
        padding-left: 0 !important;
        border: none !important;
        width: 100% !important;
        overflow: hidden;
    }
}

.products-list.list .product-layout .product-item-container .list-block .btn-button {
    border: none;
    border-radius: 3px;
    display: block;
    margin-right: 5px;
    padding: 7px 15px;
    background-color: #fff;
    color: #666;
    text-align: center;
    float: left;
}

.products-list.list .product-layout .product-item-container .list-block .btn-button i {
    font-size: 16px;
}

.products-list.list .product-layout .product-item-container .list-block .btn-button:hover {
    background-color: #2677e7;
    color: #fff;
}

.products-list.list .product-layout .product-item-container .list-block .addToCart {
    background-color: #555;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 3px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    font-weight: 400;
    text-transform: uppercase;
}

.products-list.list .product-layout .product-item-container .list-block .addToCart i {
    margin-right: 0px;
    font-size: 14px;
}

.products-list.list .product-layout .product-item-container .list-block .addToCart:hover {
    background-color: #2677e7;
}

.products-list.list .product-layout .product-item-container .list-block .wishlist {
    position: absolute;
    top: 40px;
    left: -61px;
    background-color: #555;
    color: #fff;
}

.products-list.list .product-layout .product-item-container .list-block .wishlist:hover {
    background-color: #2677e7;
}

.products-list.list .product-layout .product-item-container .right-block {
    margin-left: 270px;
    height: 270px;
    padding: 0 0 0px 30px;
}

@media (max-width: 767px) {
    .products-list.list .product-layout .product-item-container .right-block {
        margin-left: 40%;
        padding: 0 10px 0px 10px;
    }
}

.products-list.list .product-layout .product-item-container .right-block .caption {
    width: 70%;
    float: left;
    padding-right: 15px;
    padding-top: 40px;
}

.products-list.list .product-layout .product-item-container .right-block .caption .ratings {
    margin-bottom: 0px;
}

.products-list.list .product-layout .product-item-container .right-block .caption h4 {
    margin-bottom: 5px;
    font-weight: 700;
}

.products-list.list .product-layout .product-item-container .right-block .caption h4 a {
    color: #222;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 18px;
    font-size: 1.8rem;
    /* [8] */
}

.products-list.list .product-layout .product-item-container .right-block .caption h4 a:hover {
    color: #2677e7;
}

.products-list.list .product-layout .product-item-container .right-block .caption .price {
    display: none;
}

.products-list.list .product-layout .product-item-container .right-block .caption .description {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .products-list.list .product-layout .product-item-container .right-block .caption .description {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-list.list .product-layout .product-item-container .right-block .caption .description {
        display: none;
    }
}

.products-list.list .product-layout .product-item-container .right-block .list-block {
    width: 30%;
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 40px;
    position: relative;
    border-left: 1px solid #ebebeb;
}

.products-list.list .product-layout .product-item-container .right-block .list-block .item-available {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

.products-list.list .product-layout .product-item-container .right-block .list-block .price {
    margin-bottom: 20px;
}

.products-list.list .product-layout .product-item-container .right-block .quickview {
    border: none;
    border-radius: 3px;
    display: block;
    margin-right: 5px;
    padding: 7px 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    float: left;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.products-list.list .product-layout .product-item-container .right-block .quickview i {
    font-size: 16px;
}

.products-list.list .product-layout .product-item-container .right-block .quickview:hover {
    background-color: #2677e7;
    color: #fff;
}

@media (max-width: 767px) {
    .products-list.list .product-layout .product-item-container .label-product {
        display: none;
    }
}

.products-list.list .product-layout .product-item-container:hover .right-block .quickview {
    opacity: 1;
    left: 109px;
    display: block;
}

.product-listing .product-grid .so-productlist-colorswatch {
    position: relative;
    top: -40px;
    height: 0;
}

/*SIDEBAR LISTING - RESPONSIVE*/
.blog-detail .open-sidebar, .blog-list .open-sidebar, .product-detail .open-sidebar, .product-listing .open-sidebar {
    line-height: 25px;
    display: inline-block;
    border: 2px solid #999;
    margin-bottom: 20px;
    padding: 0px 15px;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
}

#close-sidebar {
    display: none;
}

@media only screen and (max-width: 992px) {
    body.open-sboff {
        height: 100%;
        overflow: hidden;
    }

    .blog-detail .sidebar-overlay, .blog-list .sidebar-overlay, .product-detail .sidebar-overlay, .product-listing .sidebar-overlay {
        background: rgba(0, 0, 0, 0.5);
        display: none;
        height: 100%;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 9998;
    }

    .blog-detail .sidebar-offcanvas, .blog-list .sidebar-offcanvas, .product-detail .sidebar-offcanvas, .product-listing .sidebar-offcanvas {
        padding-left: 15px;
        padding-right: 10px;
        background: #fff;
        width: 300px;
        position: fixed;
        left: -150%;
        top: 0px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        overflow-x: scroll;
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        transition: all 300ms ease-in-out;
        padding-top: 40px;
        margin: 0px;
    }

    .blog-detail .sidebar-offcanvas #close-sidebar, .blog-list .sidebar-offcanvas #close-sidebar, .product-detail .sidebar-offcanvas #close-sidebar, .product-listing .sidebar-offcanvas #close-sidebar {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 16px;
        display: block;
    }

    .blog-detail .sidebar-offcanvas #close-sidebar:hover, .blog-list .sidebar-offcanvas #close-sidebar:hover, .product-detail .sidebar-offcanvas #close-sidebar:hover, .product-listing .sidebar-offcanvas #close-sidebar:hover {
        cursor: pointer;
        color: #f00;
    }

    .blog-detail .sidebar-offcanvas.active, .blog-list .sidebar-offcanvas.active, .product-detail .sidebar-offcanvas.active, .product-listing .sidebar-offcanvas.active {
        left: 0;
    }
}

.filter-horizontal .so-filter-option.so-filter-price .input_max, .filter-horizontal .so-filter-option.so-filter-price .input_min {
    min-width: 50px;
    width: 50px;
}


