.col-md-1{
	text-align: right;
}

.sliders .wrapper{
	margin-bottom: 20px;
}



.sliders .slider{
	position:relative;
	color:#FFF;
	height:auto;
}

.sliders .slider .slide{
	line-height: 287px;
}


.slider img{
	/*height:249px;*/
}

.slider .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(90, 90, 115, 0.7);
	opacity:0;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}

.slider:hover .overlay{
	opacity:1;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.slider:hover .overlay h3{
	font-weight:bold;
}

.slider .overlay a{
	display: inline-block;
}

.sliders .wrapper .slide-description{
	background-color: #36549f;
	color: #FFF;
	padding:5px;
	text-align: center;
	font-weight: bold;
	min-height: 126px;
}

.sliders .wrapper .slide-description h1{
	font-size: 20px !important;
	text-transform:capitalize;
}

.sliders .wrapper .slide-description h2{
	font-size: 15px !important;
}

.sliders .wrapper .slide-description p{
	font-size: 12px !important;
	padding: 10px;
}

.modal-dialog form{
	display: inline;
}