@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #2677e7; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-3 {
  color: #888;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/ }
  .typeheader-3 .container-megamenu.horizontal .sub-menu .feature-blog a {
    text-align: right; }
  .typeheader-3.navbar-compact .header-middle {
    padding: 10px 0; }
  .typeheader-3.navbar-compact #cart {
    margin-top: 3px; }
  .typeheader-3 .header-top {
    min-height: 40px;
    max-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: #252525; }
  .typeheader-3 .header-top a {
    color: #888; }
  .typeheader-3 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-3 .header-top .header-top-right {
    text-align: left; }
  .typeheader-3 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-3 .header-top .header-top-right {
    display: inline-block; }
  .typeheader-3 .header-middle {
    background: #fff;
    clear: both;
    padding: 40px 0 41px 0; }
  .typeheader-3 .header-middle .middle3 {
    padding-right: 30px; }
  .typeheader-3 .header-middle .middle3 .telephone {
    position: relative;
    font-size: 14px;
    padding-right: 42px;
    float: left;
    line-height: 100%;
    padding-top: 3px;
    width: 55%; }
  .typeheader-3 .header-middle .middle3 .telephone:before {
    background-image: url(../../image/theme/icons/home1/icon-phone.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    width: 40px;
    height: 40px;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0; }
  .typeheader-3 .header-middle .middle3 .telephone a {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    margin-top: 7px;
    color: #f44;
    font-weight: 700; }
  .typeheader-3 .header-middle .middle3 .telephone span {
    font-weight: 600;
    color: #222;
    margin: 5px 10px 4px 6px;}
  .typeheader-3 .header-middle .middle2 {
    padding-right: 58px; }
  .typeheader-3 .header-bottom {
    clear: both;
    padding-bottom: 0px;
    border-bottom: 1px solid #e5e5e5; }
  .typeheader-3 .header-bottom .bottom2 {
    margin-top: 7px; }
  .typeheader-3 .lang-curr .dropdown-menu {
    left: 0;
    right: auto; }
  .typeheader-3 .signin-w {
    padding-right: 30px;
    float: left; }
  .typeheader-3 .signin-w ul li {
    float: right; }
  .typeheader-3 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex; }
  .typeheader-3 ul.top-link > li {
    display: inline-block;
    position: relative;
    list-style: outside none none;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #888;
    font-size: 12px; }
  .typeheader-3 ul.top-link > li.language {
    border-left: none; }
  .typeheader-3 ul.top-link > li.facebook {
    border-right: 1px solid #888; }
  .typeheader-3 ul.top-link > li i {
    padding-left: 5px; }
  .typeheader-3 ul.top-link > li.language {
    min-height: 23px; }
  .typeheader-3 ul.top-link > li .btn-group {
    line-height: 40px; }
  .typeheader-3 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    font-size: 12px; }
  .typeheader-3 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-3 ul.top-link > li > a {
    font-size: 12px;
    line-height: 40px; }
  .typeheader-3 ul.top-link > li.account {
    line-height: 40px; }
  .typeheader-3 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
  .typeheader-3 ul.top-link > li.account:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 12px; }
  .typeheader-3 ul.top-link > li.account .dropdown-menu {
    right: 0;
    left: auto; }
  .typeheader-3 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-3 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-3 #sosearchpro .search {
    position: relative;
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding-left: 43px; }
  .typeheader-3 #sosearchpro .search .select_category {
    border-left: 1px solid #d6d6d6;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 24%; }
  .typeheader-3 #sosearchpro .search .select_category select {
    height: 38px;
    line-height: 38px;
    color: #666;
    /*color: rgba(68,68,68,0);
     text-shadow: 0 0 0 #666;*/
    font-size: 12px;
    padding: 0 15px; }
  .typeheader-3 #sosearchpro .search .select_category select:hover {
    cursor: pointer; }
  .typeheader-3 #sosearchpro .search .select_category.icon-select:after {
    font-size: 12px;
    line-height: 15px;
    height: 15px;
    width: 15px;
    left: 8px;
    top: 12px;
    right: auto;
    border-radius: 50%;
    border: 1px solid #999;
    content: "\f0d7"; }
  .typeheader-3 #sosearchpro .search .input-group-btn {
    width: 0; }
  .typeheader-3 #sosearchpro .search button {
    position: absolute;
    top: 0px;
/*    left: 0px;*/
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 0;
    text-transform: upper-case;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .typeheader-3 #sosearchpro .search button i {
    font-size: 16px;
    color: #fff; }
  .typeheader-3 #sosearchpro .search button:hover {
    background: #0651b9; }
  .typeheader-3 #sosearchpro .search input {
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 0;
    height: 40px;
    padding-right: 20px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #444;
    border: 1px solid #ddd;
    border-right: none; }
  .typeheader-3 #sosearchpro .search input::-moz-placeholder {
    color: #444;
    opacity: 1; }
  .typeheader-3 #sosearchpro .search input:-ms-input-placeholder {
    color: #444; }
  .typeheader-3 #sosearchpro .search input::-webkit-input-placeholder {
    color: #444; }
  .typeheader-3 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-3 .shopping_cart {
    width: 45%;
    float: left;
    position: relative;
    border-radius: 3px; }
  .typeheader-3 .shopping_cart #cart {
    float: left; }
  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative; }
  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    background: url('../../image/theme/icons/home1/icon-cart.png') no-repeat;
    width: 35px;
    height: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    font-size: 18px;
    color: #fff; }
  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    float: right;
    margin: 5px 10px 4px 6px; }
  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 2px;
    line-height: 100%; }
  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
    font-size: 12px;
    float: right;
    line-height: 100%;
    font-weight: 400;
    margin-top: 5px;
    color: #f44; }
    .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
      width: 23px;
      height: 23px;
      line-height: 21px;
      text-align: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      position: absolute;
      bottom: -8px;
      right: -8px;
      font-size: 12px;
      color: #fff;
      border: 2px solid #fff;
      background: #f44; }
    .typeheader-3 .shopping_cart .dropdown-menu {
      top: 100%;
      left: -15px;
      right: auto;
      color: #666; }
  .typeheader-3 .shopping_cart .shoppingcart-box:before {
    left: 50px; }
  .typeheader-3 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li {
    margin-left: 50px; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li > a {
    line-height: 100%;
    font-size: 14px;
    font-weight: 700; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special {
    margin-left: 0; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special a {
    padding: 10px 20px 10px 40px;
    background: #c51230;
    border-radius: 18px;
    color: #fff;
    font-size: 12px; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special a:before {
    font-family: "FontAweSome";
    content: "\f06b";
    right: 15px;
    position: absolute;
    font-size: 20px; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special a:hover {
    color: #efcbd1; }
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    color: #2677e7; }
  .typeheader-3 .container-megamenu.vertical {
    position: relative; }
  .typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
    background-color: transparent; }
  .typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
    color: #fff;
    background-color: #2677e7;
    text-shadow: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 14px;
    padding-right: 20px;
    height: 45px;
    line-height: 44px; }
    .typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
      padding-top: 13px;
      margin-left: 7px; }
      .typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
        background-color: #fff; }
    .typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:after {
      font-family: 'FontAwesome';
      content: "\f0d7";
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      position: absolute;
      left: 15px;
      top: 14px;
      font-weight: 400;
      height: 15px;
      width: 16px;
      border-radius: 50%;
      border: 1px solid #fff;
      text-align: center; }
  @media (min-width: 992px) and (max-width: 1920px) {
    .typeheader-3 .container-megamenu.vertical .vertical-wrapper {
      position: absolute;
      width: 100%;
      top: 45px; }

    .typeheader-3 .container-megamenu.vertical:hover .vertical-wrapper {
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; } }

@media (min-width: 1200px) and (max-width: 1920px) {
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li {
    margin-left: 40px; } }

@media (min-width: 1649px) and (max-width: 1920px) {
  .typeheader-4 .header-middle .middle2 {
    width: 65.3333%; }
    .typeheader-4 .header-middle .middle3 {
      width: 18%; } }

@media (min-width: 1366px) and (max-width: 1649px) {
  .typeheader-4 .bottom1 {
    width: 21%; }
    .typeheader-4 .main-menu {
      width: 79%; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .typeheader-4 .bottom1 {
    width: 21%; }
    .typeheader-4 .main-menu {
      width: 79%; }
    .typeheader-4 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
      margin: 5px 10px 0 10px; } }

.wrapper-boxed .typeheader-2 .telephone ul li:first-child {
  display: none; }
