
/* new edits */
.none2 {
  display: none !important;
}
/* search form */
.typeheader-3 #sosearchpro .search button {
  background-color: #fff !important;
  color: #000 !important;
}

.ms-options-wrap {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.ms-options-wrap > button::after {
  display: none !important;
}

.typeheader-3 #sosearchpro .search .button-search {
  background-color: #2677e7 !important;
  margin-top: 1px;
}

.typeheader-3 #sosearchpro .search input {
  background-color: #fff !important;
  height: 40px;
  margin-top: 0;
}

.typeheader-3 .header-middle .middle2 {
  padding-right: 0 !important;
}

#sosearchpro.so-search {
  box-shadow: 0px 0px 0px 0px !important;
}

/* category box */


/* slider edits */
.slider-brands .item {
    width: 120px;
}

.slider-brands .owl2-stage-outer {
    display:table;
    margin:auto;
}

.product-image-container img {
  width: 150px;
}

/* form [filter] style */
#form {
    padding: 20px 40px;
    border: 2px solid #a398988f;
    background-color: #e1e1e1;
    border-radius: 5px;
    box-shadow: 1px 3px 100px 0px #8080802d;
    margin-bottom: 40px;
    z-index: 999999999999999999999999999999;
}

#form select {
    border-radius: 4px;
    /* add custom arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url("../../../image/arrow-down-sign-to-navigate.png");
    background-repeat: no-repeat;
    background-position: right;
    background-origin: padding-box;
    background-position: 130px;
    cursor: pointer;
    padding: 4px 20px;
    border: .5px solid #cfc5c5;
    width: 160px;
    color: #fff;
    background-color: #777474a4;
    font-size: 14px;
    transition: all .1s;
    outline: none;
}

.input-sm {
  padding: 0 !important;
}

.bg-up:focus {
  background-image: url("../../../image/up-arrow.png") !important;
}

  .padding-0{
    padding-right:0;
    padding-left:0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


#form input {
    border-radius: 4px;
    -webkit-appearance: none;
    border: 1px solid #cfc5c5;
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
}


#form input:focus {
    border-bottom: solid 2px #006785 !important;
}


input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

#form label {
  color: #333;
  font-size: 14px;
}

.mt {
  margin-top: 5px;
}

.none {
  display: none;
}

#show {
    background-color: #2677e7;
    border-radius: 3px;
    color: #fff;
    padding: 6px 30px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s;
}

.red {
  background-color: #c80606 !important;
}

#form .search button {
  background-color: #2677e7;
  border: 0;
}

#form .search .fa {
  background-color:  #2677e7;
  padding: 10px 30px;
  color: #fff;
}

#form .search {
  margin-top: 20px;
}

.rotate {
    transform: rotate(360deg);
}

.caret {
  position: relative;;
  bottom: 2px;
  width: 10px;
  margin-right: 3px;
}

/* sidebar */
.filter-shopby .table_cell, .filter-row .table_cell {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* category sidebar */
.container-megamenu.vertical ul.megamenu > li.click::before, .container-megamenu.vertical ul.megamenu > li.hover::before {
  padding: 14px;
}

.home-remove::before {
  display: none !important;
}

/* product box */
.products-list.grid .product-layout .product-item-container .right-block {
  height: 100% !important;
}

.product-image-container img {
    width: 112px;
}

.label-sale, .label-product-sale {
    right: 55px;
}

/* login */
.fa-unlock::before {
  margin-right: 5px;
}

/* media query */
@media only screen and (max-width: 996px) {

  #form {
    margin: 20px !important;
  }

  .slider-brands .item {
      width: 100%;
  }

  .slider-brands .owl2-stage-outer {
      display:block;
      margin:auto;
  }

  .product-image-container img {
    width: 100%;
  }

  .typeheader-3 #sosearchpro .search button {
    display: block;
    top: 42px;
    right: 0;
  }

  header.typeheader-3 .header-middle .navbar-logo {
      padding: 20px;
  }
}

.typeheader-3 .header-middle, .typeheader-3 .header-bottom {
  background-color: #fff;
}

.typeheader-3 #sosearchpro .search button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.typeheader-3 #sosearchpro .search button {
  font-size: 14px;
  line-height: 32px;
  height: 40px;
}

.typeheader-3 #sosearchpro .search .button-search {
  margin-top: 0;
  top: 0px !important;
}

.typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
  font-weight: bold;
}

.typeheader-3 .shopping_cart {
  margin-right: 5px;
}

.common-home .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.home > a {
  color: #000;
  margin-right: 10px;
}

.caret {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 8px;
}

.megamenu i {
  font-size: 14px;
  color: #2677e7;
}

.common-home.layout-3 #content .module h3.modtitle {
  margin-top: 40px;
}