@import url('https://fonts.googleapis.com/css?family=Cairo&subset=arabic,latin-ext');
a, h1, h2, h3, h4, h5, h6, li, strong, p, div, section{
    font-family: "Cairo" , serif !important;
}

.module.sohomepage-slider img{
    height:400px;
}
input[type=checkbox] ,input[type=radio] {
    display: none;
}
ul.breadcrumb {
    margin: 23px 18px;
}
#content .module h3.modtitle2{
    margin-top: 0!important;
}
.color .color_li .fa {
    display: none;
}
.color .active .fa {
    display: block;
    color: white;
    position: absolute;
    top: 7px;
    margin-left: 0px;
}

.left-content-product .content-product-right #product .si .img-thumbnail
{
    width: 33px;
    height: 33px;
    line-height: normal;
}
.si .fa{
    color: #337ab7;
    font-size: x-large;
}

.left-content-product .content-product-left .large-image img{
    height:370px ;
    width:400px ;
}
.common-home.layout-3 #content .module.categoties3 .listingtab-icons3 .modcontent .ltabs-wrap .products-list .col-product .product{
    height: 200px;
    width: 340px;
}
.fa{
    font-family: FontAwesome !important;
}


/*.allContainer{
    background-color: #f5f6f8;
}*/
.typeheader-3 .header-middle,.typeheader-3 .header-bottom{
    background-color: #f5f6f8;
}

.inside{
    background-color: #ffffff;
}

/*product details*/
.products-list.grid .product-layout .product-item-container .right-block{
    height:130px;
}
.products-list.grid .product-layout .product-item-container .right-block .caption{
    height:84px;
}
.products-list.grid .product-layout .product-item-container .right-block .caption h4{
    height:32px;
    overflow: hidden;
}
.size  li
{
    cursor:pointer;
}
li.activ
{
    background: #2677e7;
}
ul.color li {

    width: 26px;
    height: 26px;
}
.typeheader-3 #sosearchpro .search{
    padding-right:0;
}
.typeheader-3 .header-middle {
    padding: 25px 0 18px 0 !important;
}
#sosearchpro.so-search{
    position: relative;
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 22px;
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.2);

}
.ajaxMessage{
    display: block;
    color: #a94442;
    font-size: 14px;
    font-style: italic;
}
/*--------------------------------------------------------------------------------------  */
.userBlock{
    float: left;
    width: 100%;
    box-shadow: 0px 0px 23px -3px #ccc;
    padding-bottom: 12px;
    margin-bottom: 30px;
    overflow: hidden;
    background:#fff;


}
.userBlock .backgrounImg{
    float: left;
    overflow: hidden;
    height: 77px;
}
.userBlock .backgrounImg img{
    width: auto;
}
.userBlock .userImg{
    text-align: center;
}
.userBlock .userImg img{
    width: 80px;
    height: 80px;
    margin-top: -39px;
    border-radius: 100%;
    border: 5px solid #fff;

}
.userBlock .userDescription{
    text-align: center;
}
.userBlock .userDescription h5{
    margin-bottom: 2px;
    font-weight: 600;
}
.userBlock .userDescription p{
    margin-bottom: 5px;
}
.userBlock .userDescription .btn{
    padding: 0px 23px 0px 23px;
    height: 22px;
    border-radius: 0;
    font-size: 12px;
    color: #fff;
}
.userBlock .userDescription .btn:hover{

    opacity:0.7;
}

.userBlock .followrs{
    display: inline-flex;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.userBlock .followrs .number{
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -1px;
}
/* ---------------------------------------------------------- profile ----------- */


.profile{
    float: left;
    width: 100%;
    box-shadow: 0px 0px 23px -3px #ccc;
    padding-bottom: 12px;
    margin-bottom: 30px;
    overflow: hidden;
    background:#fff;


}
.profile .backgrounImg{
    float: left;
    overflow: hidden;
    width: 100%;
 }
.profile .backgrounImg img{
    width: 100%;
    height: 314px;
}
.profile .userImg{
    text-align: center;
}
.profile .userImg img{
    width: 160px;
    height: 160px;
    margin-top: -72px;
    border-radius: 100%;
    border: 5px solid #fff;

}
.profile .userDescription{
    text-align: center;
}
.profile .userDescription h5{
    margin-bottom: 2px;
    font-weight: 600;
}
.profile .userDescription p{
    margin-bottom: 5px;
}
.profile .userDescription .btn{
    padding: 0px 23px 0px 23px;
    height: 22px;
    border-radius: 0;
    font-size: 12px;
    color: #fff;
}
.profile .userDescription .btn:hover{

    opacity:0.7;
}

.profile .followrs{
    display: inline-flex;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.profile .followrs .number{
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -1px;
}
/* ---------------------------------------------------------- profile ----------- */
.like{
    color: #ff4444 !important;
}
.jGrowl.top-right {
    right: 0;
    bottom: 50px !important;
    top: unset !important;
}
a.google,a.google:hover,a.google:focus{
    background-color: #dd4a38;
    border: #dd4a38;
    margin-top: 10px;
    width: 267px;
}
a.facebook,a.facebook:hover,a.facebook:focus{
    background-color: #4863ae;
    border: #4863ae;
    margin-top: 10px;
    width: 267px;
}

/*------------------------------Search-------------------*/
div.ms-options input[type="checkbox"]{
    display: block;
    height:auto !important;
}
div.ms-options ul
{
    column-count: 1 !important;
}
.filter_type  button
{
    background-color: transparent !important;
    color: black !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.typeheader-3 #sosearchpro .search .select_category
{
    background-color:#f5f6f8 !important;
}
.ms-search input{
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.typeheader-3 #sosearchpro .search input{
    background-color: #fff;
}

.filter_type button {
    background-color: #fff !important;
    border :1px solid #f5f5f5 !important;
}
.typeheader-3 .shopping_cart {
    width:auto !important;

}

header .header-top-right .top-link > li:hover .dropdown-menu ,
header .btn-group:hover .dropdown-menu ,
header .dropdown:hover .dropdown-menu ,
header .btn-shopping-cart:hover .dropdown-menu {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}
.products-list.list .product-layout .product-item-container{
    width: 100%;
}
.products-list.list .product-layout .product-item-container .right-block .caption,
.products-list.list .product-layout .product-item-container .right-block .list-block
{
    padding-top: 0 !important;
}
.st{
    background-color: #fff;
    float: left;
    display: block;
    font-size: 14px;
    color: #222;
    padding: 13px 25px;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    border: none;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    line-height: 100%;
}

.icon-share{
    margin-top: 17px;
}
.icon-share ul li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2677e7;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}
.icon-share ul li {
    display: inline-block;
    float: right;
}