@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/

.typeheader-3 .container-megamenu.horizontal ul.megamenu > li {
  margin-right: 70px;
}

.typeheader-3 .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 100%;
  font-size: 14px;
  font-weight: 700;
}

.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special {
  margin-right: 0;
  margin-top: 5px;
}

.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special a {
  padding: 10px 20px 10px 40px;
  background: #c51230;
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
}

.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special a:before {
  font-family: "FontAweSome";
  content: "\f06b";
  left: 15px;
  position: absolute;
  font-size: 12px;
}

.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.item-special a:hover {
  color: #efcbd1;
}

.typeheader-3 .container-megamenu.vertical {
  position: relative;
}

.typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
  background-color: transparent;
}

.typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
  color: #fff;
  text-shadow: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 14px;
  padding-left: 20px;
  height: 45px;
  line-height: 44px;
}

typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
  padding-top: 13px;
  margin-right: 7px;
}

.typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
  background-color: #fff;
}

.typeheader-3 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 14px;
  font-weight: 400;
  height: 15px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
}

@media (min-width: 992px) {
  .typeheader-3 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 100%;
    top: 60px;
  }

  .typeheader-3 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 44px;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .typeheader-3 .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 40px;
  }
}

@media (min-width: 1649px) and (max-width: 1920px) {
  .typeheader-3 .header-middle .middle2 {
    width: 65.3333%;
  }

  .typeheader-3 .header-middle .middle3 {
    width: 18%;
  }
}

@media (min-width: 1366px) and (max-width: 1649px) {
  .typeheader-3 .bottom1 {
    width: 21%;
  }

  .typeheader-3 .main-menu {
    width: 79%;
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  .typeheader-3 .bottom1 {
    width: 21%;
  }

  .typeheader-3 .main-menu {
    width: 79%;
  }

  .typeheader-3 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    margin: 5px 10px 0 10px;
  }
}

.wrapper-boxed .typeheader-2 .telephone ul li:first-child {
  display: none;
}
