@import url('https://fonts.googleapis.com/css?family=Cairo&subset=arabic,latin-ext');

a, h1, h2, h3, h4, h5, h6, li, strong, p, div, section {
    font-family: "Cairo", serif !important;
}

.module.sohomepage-slider img {
    height: 400px;
}

input[type=checkbox] {
    display: none;
}

.color .color_li .fa {
    display: none;
}

.color .active .fa {
    display: block;
    color: white;
    position: absolute;
    top: 7px;
    margin-left: 0px;
}

.size li {
    cursor: pointer;
}

li.activ {
    background: #2677e7;
}

ul.color li {
    width: 19px;
    height: 16px;
}
ul.si li {
    text-align: center;
    width: 25px;
    height: 16px;
}
ul.si{
    text-align: right;
}

 li {
    text-align: inherit;
}

.common-home.layout-3 #content .owl2-carousel {
    direction: ltr;
}

.products-list.grid .product-layout .product-item-container .left-block .button-group {
    direction: rtl !important;
}

.typeheader-3 #sosearchpro .search input {
    border-right: 1px solid #ccc;
/*    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;*/

}

.typeheader-3 #sosearchpro .search button {
    border-left: 1px solid #ccc;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}

.item-info {
    direction: rtl;
}

.owl2-prev {
    float: right !important;
}

.userBlock .followrs {
    margin-right: 0 !important;
    margin-left: 10px;
    border-right: none !important;
    border-left: 1px solid #ccc;

    padding-left: 10px;
}
.userBlock .followrs .number {
     margin-right:0 !important;
     margin-left: 5px;
 }



.profile .followrs{
    display: inline-flex;
    margin-left: 10px;
    border-left: 1px solid #ccc;
    border-right:none !important;
    padding-left: 10px;
    margin-right:0 !important;
    padding-right: 0 !important;
}
.profile .followrs .number{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -1px;
}

.jGrowl-notification{
    direction: rtl;
    text-align: right;
}
.jGrowl.top-right{
    right: auto;
    left: 0 !important;
}
.jGrowl-notification img{
    float: right;
    margin-left: 15px;
}
.jGrowl-notification .jGrowl-close{
    float: left;
}
.nav_float{
    float:left;
}
.right-block{
    float: none;
}